.EditHeader {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditMid {
    width: 100%;
    height: 400px;
    display: flex;
}

.ingredientsContainer, .EditPhotoContainer {
    width: 50%;
    height: auto;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}

.ingredientsHead {
    margin-top: 20px;
}

.ingredient {
    margin: 10px 0;
    background-color: rgba(0,0,0,0.1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredientName {
    margin-left: 30px;
}

.ingredients {
    width: 90%;
    margin-top: 20px;
}

.EditPhotoContainer {
    background-color: lightcyan;
}

.counter {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.counter_minus, .counter_plus {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.counter_minus {
    background-image: url(img/ico_-.png);
}

.counter_plus {
    background-image: url(img/ico_+.png);
}

.ingredientAmount {
    position: relative;
    top: 3px;
}

