.EditHeader {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditMid {
    width: 100%;
    height: 400px;
    display: flex;
}

.ingredientsContainer, .EditPhotoContainer {
    width: 50%;
    height: auto;
}

.ingredientsContainer {
    background-color: lightcoral;
}

.EditPhotoContainer {
    background-color: lightcyan;
}