.menuContainer {
    width: 100%;
    height: 500px;
    background: lightgray;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
}

.menuItem {
    width: calc(50% - 30px);
    height: 200px;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.menuItem:hover {
    box-shadow: 0 0 6px 0 dimgrey;
}

.menuItemP {
    display: inline-block;
    margin-bottom: 20px;
}

.MenuLink {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menuItemImg {
    width: 100%;
    height: 80%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hamburger {background-image: url(../res/img/hamburger.png)}
#cheeseburger {background-image: url(../res/img/cheeseburger.png)}
#chickenburger {background-image: url(../res/img/chickenburger.png)}
#fishburger {background-image: url(../res/img/fishburger.png)}

.menuItemName {
    margin-bottom: 10px;
}